node_modules/
src/
.git/
.vscode/

.eslintrc.cjs
.gitignore
.npmignore
.prettierrc.cjs
package-lock
tsconfig.app.json
tsconfig.build.json
tsconfig.node.json
tsconfig.node.json
tsconfig.json
index.html
env.d.ts

vite.config.ts
vitest.config.ts
